@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif
}

{
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #E67E4C, #F0E78D);
}

main {
    background-color: white;
    border-radius: 05%;
    width: 600px;
    padding: 10px;
    box-shadow: 3px 3px 10px rgb(218, 164, 65);
    margin: auto;
}

h1 {
    color: #572423;
}

h2 {
    color: #E04C4A;
}

p {
    text-align: justify;
}
